{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Rent a house</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{%static 'style.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css"
     integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm row container">
         <div class="col-12 col-md-12 col-lg-6 col-sm-4 text-right">
           <a class="navbar-brand" href="#">
           <img src="{%static 'images/logo.png' %}" alt="logo" style="width: 50%">
         </a>
       </div>
       <div class="col-8 col-md-12 col-lg-6 col-sm-8 text-right">
         <ul class="navbar-nav container icon">
              <li class="nav-item">
                 <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
          </li>
          <li class="nav-item">
             <a class="nav-link" href="#"><i class="fab fa-google-plus-g"></i></a>
        </li>
          </ul>
          <ul class="navbar-nav menu">
               <li class="nav-item">
                  <a class="nav-link" href="#">Welcome </a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="#">| Rent a house </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">| Why us </a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="#">| Things to do </a>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#">| Contacts</a>
         </li>
         {%if user.is_authenticated %}
         <li class="nav-item">
              <p class="nav-link">Hi,{{name}}</p>
         </li>
         <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">| Logout</a>
         </li>
         {% else %}
         <li class="nav-item">
              <a class="nav-link" href="signin">| LogIn</a>
         </li>
         {% endif %}
           </ul>
        </div>
      </nav>
      <br>
      
      <div class="second">
         <div class="container jumbotron text-center">
             <h2 class="text-center">Where does it come from</h2><br>
             <img src="{%static 'images/logo2.png' %}" style="width: 10%;"><br> <br>
             <p class="text-center">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident.  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
             </p>
         </div>
      </div>
      <div class="row third">
          <div class="col-12 col-md-12 col-lg-3">
              <img src="{%static 'images/4.jpg' %}">
              <div class="container w3-flat-midnight-blue">
                <br>
                  <h4 class="text-center text-uppercase"><small>What is Lorem Ipsum</small></h4>
                  <br>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-3">
              <img src="{%static 'images/7.jpg' %}">
              <div class="container w3-flat-nephritis">
                <br>
                  <h4 class="text-center text-uppercase"><small>What is Lorem Ipsum</small></h4>
                  <br>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-3">
              <img src="{%static 'images/6.jpg' %}">
              <div class="container w3-flat-midnight-blue">
                <br>
                  <h4 class="text-center text-uppercase"><small>What is Lorem Ipsum</small></h4>
                  <br>
              </div>
          </div>
          <div class="col-12 col-md-12 col-lg-3">
              <img src="{%static 'images/7.jpg' %}">
              <div class="container w3-flat-nephritis">
                <br>
                  <h4 class="text-center text-uppercase"><small>What is Lorem Ipsum</small></h4>
                  <br>
              </div>
          </div>
      </div>
      <div class="four jumbotron">
          <div class="row">
              <div class="col-12 col-md-12 col-lg-6 container text-center text1">
                  <h4 class="text-center text-uppercase">Good location: near Minsk</h4>
                  <img src="{%static 'images/logo3.png' %}" style="width: 10%;"><br>
                  <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p><br>.<p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
              </div>
              <div class="col-12 col-md-12 col-lg-6 container text-center local">
              </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-6 container text-center local2">
            </div>
              <div class="col-12 col-md-12 col-lg-6 container text-center text1">
                  <h4 class="text-center text-uppercase">First-class Interior</h4>
                  <img src="{%static 'images/logo3.png' %}" style="width: 10%;"><br>
                  <p>t is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English</p><br>.<p> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
              </div>
          </div>
      </div>
      <div class="container five text-center">
          <h3 class="text-center">Find plase to rent</h3><br><br>
          <img src="{%static 'images/logo3.png' %}" style="width: 10%;"><br><br><br>
          <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </p>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6 card">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/6.jpg' %}">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/1.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/2.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/3.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/4.jpg' %}" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal5">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal5">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="{%static 'images/1/5.jpg' %}">
                                 </p>
                        </div>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-6 card">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/5.jpg' %}">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/1.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/2.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/3.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/4.jpg' %}" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal4">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal4">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="{%static 'images/1/5.jpg' %}">
                                 </p>
                        </div>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6 card">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/5.jpg' %}">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/1.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/2.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/3.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/4.jpg' %}" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal3">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal3">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="{%static 'images/1/6.jpg' %}">
                                 </p>
                        </div>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>

        </div>
        <div class="col-12 col-md-12 col-lg-6 card">
            <div class="row">
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/7.jpg' %}">
                </div>
                <div class="col-12 col-md-12 col-lg-6">
                   <img src="{%static 'images/1/1.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/2.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/3.jpg' %}" style="width: 45%;">
                   <img src="{%static 'images/1/4.jpg' %}" style="width: 45%;">
                </div>
            </div>
            <div class="card-body">
              <h3 class="text-left" style="color: #4a9375!important"><small>Cottage in Zaslauje</small></h3>
              <p class="text-left">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
              <div class="row">
                  <div class="col-12 col-md-12 col-lg-6" style="background-color:#e9ecef">
                    5 rooms, 2 bathrooms, 2 floors
                    <p style="color:#4a9375!important">Price: 2000 BYN/week</p>
                  </div>
                  <div class="col-12 col-md-12 col-lg-6 w3-flat-sun-flower btn" data-toggle="modal" data-target="#myModal2">
                    READ MORE
                  </div>
                  <div class="modal" id="myModal2">
                     <div class="modal-dialog">
                       <div class="modal-content">
      <!-- Modal Header -->
                        <div class="modal-header">
                         <h4 class="modal-title">House in Zaslauje</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                         </div>
      <!-- Modal body -->
                         <div class="modal-body">
                                 <p class="text-justify">
                                     The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                     <img src="{%static 'images/1/5.jpg' %}">
                                 </p>
                        </div>
      <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn w3-flat-sun-flower" data-dismiss="modal">Close</button>
                       </div>
                    </div>
                </div>
               </div>
              </div>
            </div>
          </div>
      </div>

     <div class="six"><br><br>
       <h3 class="text-white text-center">Ready to rent the house?</h3><br><br>
        <p class="text-white text-center">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      <div class="row">
        <div class="col-12 container jumbotron">
          <form class="form-inline" action="send_form_email.php">
        <label for="name">Name</label>
        <input type="password" class="form-control" id="name" placeholder="Name" name="name">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        <label for="tel">Telephone</label>
        <input type="password" class="form-control" id="tel" placeholder="Name" name="name">
         <button type="submit" class="btn w3-flat-sun-flower">Submit</button>
        </form>
      </div>
       </div>
     </div>
     <div class="seven jumbotron jumbotron-fluid container">
      <div class="row">
         <div class="col-12 col-md-12 col-lg-3">
            <img src="{%static 'images/11.jpg' %}">
            <img src="{%static 'images/12.jpg' %}">
            <img src="{%static 'images/15.jpg' %}">
         </div>
         <div class="col-12 col-md-12 col-lg-6 text-center"><br><br><br>
             <h3 class="text-center" style="color:#16a085!important">Why choose us?</h3>
             <br><img src="{%static 'images/logo3.png' %}" style="width:20%"><br><br>
             <p>
               There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p><br><p>By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem.</p><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p><br><p>By injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. <br>  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                              </p>
                              <p>If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden. <br> In the middle of text.There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.<br></p>
               <div class="row container">
                 <div class="col-12 col-md-12 col-lg-6">
                    <img src="{%static 'images/17.jpg' %}">
                 </div>
                 <div class="col-12 col-md-12 col-lg-6">
                    <img src="{%static 'images/18.jpg' %}">
                 </div>
               </div>
             </div>
          <div class="col-12 col-md-12 col-lg-3">
             <img src="{%static 'images/13.jpg' %}">
             <img src="{%static 'images/14.jpg' %}">
             <img src="{%static 'images/16.jpg' %}">
          </div>
       </div>
        </div>
     </div>
    <div class="container five text-center"> <h2 class="text-center" style="color:#16a085!important">How to buy?</h2>
          <br><img class="mx-auto d-block" src="{%static 'images/logo3.png' %}" style="width:10%"><br><br>
          <div class="how">
             <div class="row">
                <div class="col-12 col-md-4 col-lg-4 jumbotron">
                   <h4 class="text-center">What is Lorem Ipsum?</h4>
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text</p>
                  </div>
                  <div class="col-12 col-md-5 col-lg-5 card" style="opacity:0">
                  </div>
                  <div class="col-12 col-md-3 col-lg-3 card img-fluid" style="width:300px;border:none;background-color: rgba(255, 0, 0, 0)">
                    <img class="card-img-top" src="{%static 'images/more.png' %}">
                       <div class="card-img-overlay">
                         <br>
                         <h3 class="card-title text-center">More questions?</h3>
                         <p class="card-text">Lorem Ipsum is simply dummy text of the printing</p>
                      </div>
                    </div>
              </div>
              <div class="row">
                 <div class="col-12 col-md-2 col-lg-2 jumbotron">
                    <h3 class="text-center">Lorem Ipsum</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing </p>
                   </div>
                   <div class="col-12 col-md-7 col-lg-7 card" style="opacity:0">
                   </div>
                   <div class="col-12 col-md-3 col-lg-3 jumbotron">
                          <h5 class="card-title text-center">More questions?</h5>
                          <p class="card-text">Lorem Ipsum is simply dummy text of the printing</p>
                   </div>
               </div>
               <button style="background-color:#006637; color: white;"> <img src="{%static 'images/catalogue.png' %}" style="width:10%"> Download <br> our catalogue</button>
          </div>
      </div>
      <br>
        <br>
          <br>
      <div class="steps container">
      </div>
      <br>
        <br>
          <br>
          <br>
            <br>
              <br>
      <div class="map">
        <br>
          <br>
          <br>
            <br>
          <h2 class="text-center" style="color:white">What to do in the area?</h2>
          <img class="mx-auto d-block" src="{%static 'images/logo4.png' %}" style="width:10%"><br><br>
          <div class="row container">
              <div class="col-4 col-md-4 col-lg-4 card">
                <img src="{%static 'images/to_do/1.jpeg'%}">
                   <div class="name"><h3>History</h3></name>
                      <div class="about_place">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                  </div>
              </div>
              <div class="col-4 col-md-4 col-lg-4">
              </div>
              <div class="col-4 col-md-4 col-lg-4 card">
                <img src="{%static 'images/to_do/2.jpeg'%}">
                   <div class="name"><h3>Shopping</h3></name>
                      <div class="about_place">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                  </div>
              </div>
          </div>
          <br>
          <br>
          <br>
          <div class="row container">
              <div class="col-4 col-md-4 col-lg-4 card">
                <img src="{%static 'images/to_do/3.jpeg'%}">
                   <div class="name"><h3>Family activities</h3></name>
                      <div class="about_place">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                  </div>
              </div>
              <div class="col-4 col-md-4 col-lg-4">
              </div>
              <div class="col-4 col-md-4 col-lg-4 card">
                <img src="{%static 'images/to_do/4.jpeg'%}">
                   <div class="name"><h3>Wildlife</h3></name>
                      <div class="about_place">Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br> Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                      </div>
                  </div>
              </div>
          </div>
       </div>
       <div class="subsribe">
         <br>
         <br>
          <h3 class="text-center">Intrested to know more?</h3>
          <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
               <div class="input-group mb-3 mx-auto">
                     <input type="text" class="form-control" placeholder="Email" id="demo" name="email" style="width:30%">
                      <input type="text" class="form-control" placeholder="your Telephone" id="demo2" name="tel" style="width:30%">
                       <button>SUBMIT</button>
                </div>
       </div>

  </body>
</html>
